beautifulsoup4==4.4.1
cffi==1.6.0
cryptography==1.4
cycler==0.10.0
enum34==1.1.6
html5lib==0.9999999
idna==2.1
inflection==0.3.1
ipaddress==1.0.16
lxml==3.6.0
matplotlib==1.5.1
more-itertools==2.2
ndg-httpsclient==0.4.1
numpy==1.11.0
pandas==0.18.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.0.0
pyparsing==2.1.5
python-dateutil==2.5.3
pytz==2016.4
Quandl==3.0.1
requests==2.10.0
six==1.10.0
